{
  parser: "babel-eslint",
  extends: "airbnb",
  env: {
    browser: true
  },
  rules: {
    "react/jsx-filename-extension": 0,
    "no-unused-vars": 1,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "prop-types": [2],
  }
}
